<div class="header">
    <div class="img">
        <img src="https://www.pngkey.com/png/full/54-547425_logo-one-piece-png-best-logos-of-one.png" alt="" width="8%" >
    </div>
    <div class="titulo">
        EJEMLO CON ANGULAR
    </div>
    <div class="fondo">
        <div>
            <div class="fig1" >
                <label for="nombre"> Nombre del propietario:</label> <br><br>
                <input type="text"><br><br>
                <button>Modificar</button>
            </div>
            <div class="fig2">
                <label for="nombre"> Edad:</label> <br><br>
                <input type="text"><br><br>
                <button>Modificar</button>
                
            </div>
            <div class="fig3">
                <label for="nombre"> Lugar de residencia:</label> <br><br>
                <input type="text"><br><br>
                <button>Modificar</button>
            </div>
            <div class="fig4">
                <label for="nombre"> Tiempo programado:</label> <br><br>
                <input type="text"><br><br>
                <button>Modificar</button>
            </div>
        </div>
    </div>
    
</div>
