<div class="component-body">
    <div class="card">
        <h4>Nombre</h4>
        <h3>Jessica Ballesteros </h3>
        <button class="btn-editar">
            Editar
        </button>
        <input type="text" name="" id="">
    </div>
    <div class="card">
        <h4>Edad:</h4>
        <h3>22 años </h3>
        <button class="btn-editar">
            Editar
        </button>
        <input type="text">
    </div>
    <div class="card">
        <h4>Expeciencia:</h4>
        <h3>4 años aprendiendo</h3>
        <button class="btn-editar">
            Editar
        </button>
        <input type="text">
    </div>
    <div class="card">
        <h4>Residencia</h4>
        <h3>Residente en Riobamba</h3>
        <button class="btn-editar">
            Editar
        </button>
        <input type="text">
    </div>

</div>

