<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/register">Registrar Usuario</a>
        <a (click)="onClick()" class="btn btn-danger btn-lg btn-block">
            Cerrar Sesión
        </a>
    </div>
</nav>
<br>
<div class="card">
    <div class="container">
        <form [formGroup]="myForm" novalidate (ngSubmit)="submit()"  >
         <div class="row">
            <div class="col-6">
                <br>
                <p>Nombre *</p>
                <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="usuario.nombre" name="nombre">
                <p *ngIf="myForm.get('nombre')?.hasError('required')">Este campo es requerido</p>
            </div>
    
            <div class="col-6">
                <br>
                <p>Provincia</p>
                <input type="text" class="form-control" formControlName="provincia"  [(ngModel)]="usuario.provincia" name="provincia">
            </div>
         </div>
           <div class="row">
            <div class="col-6">
                <p>País</p>
                <select class="form-select form-select-lg mb-3" formControlName="pais" aria-label=".form-select-lg example" [(ngModel)]="usuario.pais" name="pais">
                    <option *ngFor="let item of paises" selected>{{item.pais}}</option>
                </select>
            </div>
            <div class="col-6">
                <p>Ciudad</p>
                <input type="text" class="form-control" formControlName="ciudad" name="ciudad"[(ngModel)]="usuario.ciudad">
            </div>
           </div>
            <div class="row">
                <div class="col-6">
                    <p>Dirección</p>
                    <input type="text" class="form-control" name="direccion" formControlName="direccion" [(ngModel)]="usuario.direccion">
                </div>
            
                <div class="col-6">
                    <p>Celular</p>
                    <input type="text" class="form-control" formControlName="telefono" name="telefono" [(ngModel)]="usuario.celular">
                </div>
            </div>
          <div class="row">
            <div class="col-6">
                <p>Correo electrónico</p>
                <input type="email" class="form-control" formControlName="email" name="email" [(ngModel)]="usuario.email">
            </div>
            <div class="col-6">
                <p>Contraseña</p>
                <input type="password" formControlName="contrasenia" class="form-control" name="contrasenia" [(ngModel)]="usuario.contrasenia">
            </div>
          </div>
        
           <div class="row">
            <div class="col-6">
                <p>Fecha Nacimiento</p>
                <input type="date" class="form-control" formControlName="fecha" name="fecha" [(ngModel)]="usuario.fecha">
                <p *ngIf="myForm.get('fecha')?.hasError('required')">Este campo es requerido</p>
            </div>
            <div class="col-6">
                <p>Hobbies</p>
                <input type="text" class="form-control" formControlName="hobbies" name="hobbie" [(ngModel)]="usuario.hobbies">
            </div>
           </div>
            <div class="d-flex justify-content-center">
                <input type="submit" class="mt-3 btn btn-primary" name="enviar" value="Guardar" [disabled]="myForm.invalid" >
            </div>
            <br>
          </form> 
    </div>
</div>