<app-header></app-header>
<div class="container">
    <br>
    <h2>Datos Personales</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Nombre</h5>
                    <p class="card-text"><input type="text" class="form-control" [(ngModel)]="usuario.nombre"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Teléfono</h5>
                    <p class="card-text"><input type="text" class="form-control" [(ngModel)]="usuario.telefono"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">E-mail</h5>
                    <p class="card-text"><input type="text" class="form-control" readonly [(ngModel)]="usuario.email"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Fecha de Nacimiento</h5>
                    <p class="card-text"><input type="date" class="form-control" [(ngModel)]="usuario.fechaNacimiento"></p>
                </div>
            </div>
        </div>
    </div>
    <br><h2>Ubicación geográfica</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">País</h5>
                    <p class="card-text">
                        <select class="form-select" [(ngModel)]="usuario.pais">
                            <option *ngFor="let pais of paises" [value]="pais.name">{{pais.name}}</option>
                        </select>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Provincia</h5>
                    <p class="card-text"><input type="text" class="form-control" [(ngModel)]="usuario.provincia"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Ciudad</h5>
                    <p class="card-text"><input type="text" class="form-control" [(ngModel)]="usuario.ciudad"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Dirección</h5>
                    <p class="card-text"><input type="text" class="form-control" [(ngModel)]="usuario.direccion"></p>
                </div>
            </div>
        </div>
    </div>
    <br><h2>Adicional</h2>
    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Hobies</h5>
                    <p class="card-text" *ngFor="let hob of usuario.hobies" >{{hob}}</p>
                    <div class="row">
                        <div class="col-10">
                            <input type="text" class="form-control" [(ngModel)]="hobie" />
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success" (click)="addHobie()"> + Agregar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-2">
            <button class="btn btn-primary" (click)="saveProfile()">Guardar Perfil</button>
        </div>
        <div class="col-2">
            <button class="btn btn-danger" routerLink="/perfil">Cancelar</button>
        </div>
    </div>
</div>