<app-header></app-header>
<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white">
         Informacion del Usuario
        </div>
        <div>
            <div class="card-body">
                <div>
                <strong>Nombre</strong> {{Perfil.nombre}}
            </div>
            <div>
               <strong>Apellido:</strong> {{Perfil.apellido}}
            </div>
            <div>
                <strong>Correo:</strong>{{Perfil.email}}
            </div>
            <div>
                <strong>Telefono:</strong> {{Perfil.telefono}}
            </div>
        </div>
    </div>

</div>
