body {
    background: rgb(243, 243, 243);
    background: linear-gradient(90deg,
            rgba(243, 243, 243, 1) 0%,
            rgba(9, 113, 121, 1) 0%,
            rgba(0, 212, 255, 1) 100%);
}

.header {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-left: 2%;
    margin-top: 2%;
}

.content {
    margin: 3%; 
}

.field {
    color: white;
    font-weight: bold;
    width: auto;
}

.foto {
    margin-right: 2%;
    width: 80%;
}

.titulo {
    padding-top: 20px;
}