
.logo{
    width: 90px;
    height: 30px;
}

.logo img{
    width: 100%;
    height: 100%;
}

header{
    
    background-color: #ee171f;
}

.nav li{
    padding:15px;
}
.nav li:hover{
    background-color: #070707;
}
.nav li a{
    color: #ffffff;
}

i{
    background-color: #ee171f;
    padding: 8px;
    border-radius: 150px;
}

.cerrar-sesion{
    cursor:pointer;
}