<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"> </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
  
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click)="GoHome()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="GoFavorite()">Mis Favoritos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/add-hero']">Anadir Heroe</a>
        </li>
      </ul>

      <div class="d-flex my-2 my-lg-0">
        <fa-icon [icon]="carritoCompras"></fa-icon>
        <div class="dropdown open">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="triggerId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          {{this.nombre}}
            
          </button>
          <div class="dropdown-menu" aria-labelledby="triggerId">
            <button class="dropdown-item" (click)="logout()" href="#">
              Logout
            </button>
            <button [routerLink]="['/perfil']" class="dropdown-item" href="#">Perfil</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
