<div class="container">
    <h2>Listado de animales </h2>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Especie</th>
        <th scope="col">Raza</th>
        <th scope="col">Color</th>
        <th scope="col">Caracteristica</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrAnimales  ; let i = index"> 
        <th scope="row">{{item.id}}</th>
        <td>{{item.especie | uppercase}}</td>
        <td  [ngStyle]="{'color': 'yellow'}">{{item.raza}}</td>
        <td [ngStyle]="{'font-size':'30px'}">{{item.color}}</td>
        <td>
            <ul class="mt-2">
                <li *ngIf="item.caracteristicas.length === 0"  class="">No hay comentarios disponibles</li>
                <li *ngFor="let item2 of item.caracteristicas"  class="">{{item2}}</li>
            </ul>
            <textarea class="mt-2 mb-2 form-control" [(ngModel)]="comentario" name="" id="" cols="30" rows="3">
            </textarea>
            <div class="text-center">
                <button (click)="agregar(i)" class="btn btn-warning">Agregar</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>