.container {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.bi-plus-circle-fill {
  font-size: 30px;
  color: #198754;
}

.bi-trash3-fill {
  color: #dc3545;
  margin-left: 40px;
}

.hg-items {
  height: 80px;
  overflow-y: scroll;
}

.img-personaje {
  width: 50px;
  height: auto;
}
.bi-pencil-square {
  color: #f7961c;
}

.btn-secondary {
  margin-left: 20px;
}

.btn-warning{
  margin-bottom: 40px;
}