<header>
    <div class="menu">
        <img class ="logo" [src]="imageUrl" alt="">
        <nav>

            <ul>
                <li><a href="#">
                        <h1>Inicio</h1>
                    </a></li>
            </ul>

            <ul>
                <li><a href="#">
                        <h1>Fin</h1>
                    </a></li>
            </ul>
        </nav>
    </div>
</header>



<div class="title-cards">
    <h2>Ejercicio</h2>
</div>
<div class="container-card">

    <div class="card">
        <div class="contenido-card">
            <h3>Creador</h3>
            <p>{{creador}}</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="9"><br><br>
            
        </div>
    </div>

    <div class="card">
        <div class="contenido-card">
            <h3>Edad</h3>
            <p>{{edad}}</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="9"><br><br>
            
        </div>
    </div>

    <div class="card">
        <div class="contenido-card">
            <h3>Ubicación</h3>
            <p>{{ubicacion}}</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="9"><br><br>
            
        </div>
    </div>

    <div class="card">
        <div class="contenido-card">
            <h3>Fecha Actual</h3>
            <p>{{fecha}}</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="9"><br><br>
            
        </div>
    </div>

    <div class="card">
        <div class="contenido-card">
            <h3>Años Estudiando</h3>
            <p>{{aniosEstudiando}}</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="9"><br><br>
        </div>
    </div>

    <div class="card">
        <div class="contenido-card">
            <h3>Comentarios</h3>
            <div></div>
            <label><input [(ngModel)]="comentarios" required minlength="10" maxlength="20" size="9"></label>
            <p>{{comentarios}}</p>
            <button>Editar</button>
        </div>
    </div>
</div>