<header>
    <div class="menu">
        <img src="https://res.cloudinary.com/teepublic/image/private/s--qjn5BLoD--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_262c3a,e_outline:48/co_262c3a,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1460265817/production/designs/473686_1.jpg"
            alt="">
        <nav>
            <ul>
                <li><a href="#">
                        <h1>Hola Gibrán</h1>
                    </a></li>
            </ul>

            <ul>
                <li><a href="#">
                        <h1>Inicio</h1>
                    </a></li>
            </ul>

            <ul>
                <li><a href="#">
                        <h1>Fin</h1>
                    </a></li>
            </ul>
        </nav>
    </div>
</header>



<div class="title-cards">
    <h2>Ejercicio</h2>
</div>
<div class="container-card">

    <div class="card">
        <div class="contenido-card">
            <h3>Nombre del Creador</h3>
            <p>Gibrán Guzmán</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="13"><br><br>
            <button>Editar</button>
        </div>
    </div>

    <div class="card">
        <div class="contenido-card">
            <h3>Edad del Creador</h3>
            <p>22 años</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="13"><br><br>
            <button>Editar</button>
        </div>
    </div>

    <div class="card">
        <div class="contenido-card">
            <h3>Ubicación del Creador</h3>
            <p>El Recreo</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="13"><br><br>
            <button>Editar</button>
        </div>
    </div>

    <div class="card">
        <div class="contenido-card">
            <h3>Fecha Actual</h3>
            <p>Viernes 18/11/2022</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="13"><br><br>
            <button>Editar</button>
        </div>
    </div>

    <div class="card">
        <div class="contenido-card">
            <h3>Años estudiando Programación</h3>
            <p>3 años</p>
            <input type="text" id="name" name="name" required minlength="10" maxlength="20" size="13"><br><br>
            <button>Editar</button>
        </div>
    </div>
</div>