.bi-plus-circle-fill {
  font-size: 30px;
  color: #198754;
}

.btn-add {
  padding: 0px !important;
  position: relative;
  margin-left: 10px !important;
}

.bi-trash3-fill {
  color: #dc3545;
  margin-left: 40px;
}

.form-select {
  top: 8px;
  position: relative;
}

.bg-perfil {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
