<app-header></app-header>
<div class="container">
    <br>
    <div class="centro">
        <h1>¡Bienvenido a la mejor Web de Heroes de Marvel del mundo!</h1>
    </div><br>
    <div class="centro">
        <p>La Web de Marvel Comics es una herramienta para ayudar a la gente que quiere conocer sobre sus Heroes de
            Marvel, esta web utiliza datos de más de 70 años de la era de los cómics de Marvel.</p>
    </div>
    <div class="centro">
        <img src="https://i.blogs.es/270d91/personajes-de-stan-lee/1366_2000.jpg" width="50%">
    </div><br>
    <div class="centro">
        <p>Finalmente, recuerde que el portal y la suite de API de Marvel están en versión beta y este es un proyecto en
            evolución. En la medida de lo posible, intentaremos comunicar los cambios en la API antes de que ocurran e
            intentaremos limitar cualquier modificación que provoque cambios incompatibles con las versiones anteriores
            de las aplicaciones.</p>
    </div>
    
</div>