<div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <td>Id</td>
          <td>Especie</td>
          <td>Raza</td>
          <td>Color</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" name="id" class="form-control" [(ngModel)]="animal.id"/>
          </td>
          <td><input type="text" name="especie" class="form-control" [(ngModel)]="animal.especie"/></td>
          <td><input type="text" name="raza" class="form-control" [(ngModel)]="animal.raza"/></td>
          <td><input type="text" name="color" class="form-control" [(ngModel)]="animal.color"/></td>
        </tr>
        <div>
        </div>
      </tbody>
      <br>
      <button (click)="verFormulario()" class="btn btn-primary">Agregar</button>
    </table>
  </div>
</div>
<app-mascotas></app-mascotas>